.events {
    list-style: none;
    margin: 0;
    padding: 2px 0;
  }
  .events li {
    display: block;
    font-size: 12px;
    margin: 4px 0;
  }
  .ant-calendar {
    height: 100%;
  }

  .events {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .events .ant-badge-status {
    width: 100%;
    overflow: hidden;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .notes-month {
    font-size: 28px;
    text-align: center;
  }
  .notes-month section {
    font-size: 28px;
  }

  .custom-calendar .ant-calendar-cell-content {
    height: 80px; /* 根据需要调整单元格高度 */
  }

  .lunar-date-info{
    position: absolute;
    bottom: 4px;
    left: 4px;
  }